
/* Bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";

/* FontAwesome */
@import "font-awesome-sprockets";
@import "font-awesome";

body{
    background: #ffffff; /* fallback for old browsers */
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}